.trip-table {
  display: table-header-group;
  border-collapse: collapse;
  table-layout: fixed;
}

.trip-table th,
.trip-table td,
.trip-table tr {
  border: 1px solid #ddd;
  padding: 0.5rem;
}

.trip-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.trip-table tr:hover {
  background-color: #ddd;
}

.trip-table th {
  text-align: left;
  background-color: #08426a;
  color: white;
}
