.trip-form {
  padding: 0 1rem;
}

.trip-form-title {
  text-align: center;
}

.trip-form-fields {
  display: flex;
  flex-flow: column;
}

.input-container {
  display: flex;
  flex-flow: column;
  justify-content: space-between;

  color: var(--grey-scale-0);
}

/* ================ Daterange ===================== */

.trip-form__reminder-container {
  color: var(--grey-scale-0);
}

.trip-form-daterange-picker-container {
  display: flex;
  flex-flow: column;
}

.trip-form-daterange-picker {
  margin: 0.4em 0;
  display: inline !important;
}

.trip-form-daterange-picker .react-daterange-picker__wrapper {
  margin: 0.4em 0;
  /* padding: 0.5rem; */

  width: 100%;
  border: none;
  background-color: var(--purple-light);
  flex-flow: wrap;
}

.trip-form-daterange-picker.--error .react-daterange-picker__wrapper {
  background: var(--error-color);
}

.trip-form-daterange-picker .react-daterange-picker__inputGroup > * {
  color: white;
}

.trip-form-daterange-picker .react-daterange-picker__button__icon {
  stroke: white;
}

/* ================ Datetime ===================== */

.trip-form-datetime-picker-container {
  display: flex;
  align-items: center;
}

.trip-form-datetime-picker {
  width: 100%;
  margin: 0.4em 0;
}

.trip-form-datetime-picker .react-datetime-picker__wrapper {
  width: 100%;
  border: none;
  display: block;
  background-color: var(--purple-light);
}

.trip-form-datetime-picker.--error .react-datetime-picker__wrapper {
  background-color: var(--error-color);
}

.trip-form-datetime-picker .react-datetime-picker__inputGroup {
  display: block;
}

.trip-form-datetime-picker .react-datetime-picker__inputGroup > * {
  color: white;
}

.trip-form-datetime-picker .react-datetime-picker__button__icon {
  stroke: white;
}

/* ================ Toolbar ===================== */

.trip-form--toolbar {
  margin: 1em;
  display: flex;
  justify-content: space-evenly;
}

.trip-form--toolbar button {
  padding: 0.5rem 1rem;
}
