/* Add in color variables here for app-level usage */
:root {
  --purple-dark: #581845;
  --purple: #763663;
  --purple-light: #945481;

  --hibiscus-dark: #900c3f;
  --hibiscus: #b83467;
  --hibiscus-light: #d65285;

  --pink-dark: #c70039;
  --pink: #ef2861;
  --pink-light: #ff467f;

  --grey-scale-0: rgb(255, 255, 255);
  --grey-scale-1: rgba(221, 220, 220, 0.801);
  --black: rgb(27, 27, 27);

  --success-color: lightgreen;
  --error-color: #ffcccc;
}
