.controlled-input-form {
  display: flex;
}

.controlled-input-form:focus-within {
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
}

.controlled-input-form label {
  display: flex;
  width: 100%;
  padding: 5px 10px;
  cursor: pointer;
  background-color: var(--purple-light);
}

.controlled-input-form input {
  width: 100%;
  outline: none;
  border: 0;
  padding: 5px;

  color: var(--white);
  background-color: var(--purple-light);
}

.controlled-input-form button {
  border: none;
  outline: none;
  cursor: pointer;

  transition: all 250ms;
}

.controlled-input-form button:hover,
.controlled-input-form button:focus {
  background-color: orange;
}
