.search-bar {
  display: flex;
  /* background-color: var(--snips-white); */
  border-radius: var(--border-radius);
}

.search-bar:focus-within {
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
}

.search-bar label {
  padding: 5px 10px;
  cursor: pointer;
  background-color: white;
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.search-bar input {
  flex: 1 0 auto;
  outline: none;
  border: 0;
  padding: 5px;
}

.search-bar button {
  border: none;
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  outline: none;
  cursor: pointer;
  /* background-color: var(--snips-black); */
  /* color: var(--snips-white); */

  transition: all 250ms;
}

.search-bar button:hover {
  background-color: orange;
}
